$primary_background_color: #e6eff1;

$button_light_color: #ff7e55;
$button_dark_color: #344c5f;

$text_light_color: #ff7e55;
$text_dark_color: #344c60;

$text_box_services: #40a8b5;

$border_products_color: #3e5d8f;

$text_header_box_blog: #3e5d8f;

$footert_text_color: #e6eff1;

$color_footer: #344c5f;